.img {
    background-size: contain;
    background-repeat: no-repeat;
    object-fit: cover;
    width: 100vw;
    height: 610px;
}

@media screen and (max-width: 600px) {
    .img {
        height: -webkit-fill-available;
        width: 111vw;
    }
}
