.auth-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: calc(90vh - 84px);

    .left-column {
        background-size: cover;
    }

    .right-column {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fffaf1;
        font-size: 24px;

        .login-text {
            display: flex;
            justify-content: center;
            margin-bottom: 15px;
        }

        .login-input {
            display: flex;
            justify-content: center;
            padding: 2px;

            input {
                position: relative;
                z-index: 1;
                -webkit-appearance: none;
                font-size: .8125rem;
                letter-spacing: .5px; 
                width: 100%;
                padding: 8px;
                border: none;
                outline: 0;
                border: 1px solid #ccc;
            }
        }

        .login-btn {
            letter-spacing: .5px;
            font-family: 'Gupter', serif;
            transition: .5s ease;
            cursor: pointer;
            border-radius: 3px;
            position:absolute;
            right: 23.5%;
            bottom: 25%;
        }
    }
}

@media screen and (max-width: 600px) {
    .right-column {
        .login-text {
            display: flex;
            justify-content: center;
            font-size: 15px;
        }

        .login-input {
            display: flex;
            justify-content: center;
        }

        .login-btn {
            margin-bottom: 18px;
            margin-right: -13px;
        }
    }
  }