.forms-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 18px;
    color: #919191;
    padding: 10px;
    background-color: #e6dff5;
}

.data-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: #919191;
    padding: 30px;
}

.kyle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 18px;
    color: #919191;
    letter-spacing: .5px; 
    column-count: 3;
    padding: 10px;
    width: 100%;
}

@media screen and (max-width: 600px) {
    .kyle {
      width: 100%;
    }
  }