.rsvp-form-wrapper {
    //background-color: #fffaf1;
    object-fit: cover;
    padding: 85px;
}

.text-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    margin-top: -45px
}

.one-column, .two-column {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;

    input {
        position: relative;
        z-index: 1;
        -webkit-appearance: none;
        padding: 16px;
        font-size: .8125rem;
        border: none;
        outline: 0;
        border: 1px solid #ccc;
        letter-spacing: .5px; 
    }
}

.one-column input {
    width: 36.6vw;
}

.two-column input {
    width: 17vw;
    margin-left: 2px;
    margin-right: 2px;
}

.btn {
    font-size: 18px;
    letter-spacing: .5px;
    font-family: 'Gupter', serif;
    background-color: whitesmoke;
    transition: .5s ease;
    cursor: pointer;
    border-radius: 3px;
    position:absolute;
    bottom: 13%;
    right: 48%;
}

.email-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 600px) {
    .rsvp-form-wrapper {
        background-size: none;
        width: 58vw;
        .text-wrapper {
            font-size: 20px;
        }

        .one-column input {
            width: 42vw;
            font-size: 11px;
            margin-left: -5px;
            margin-right: -5px;
            padding: 2px;
        }

        .two-column input {
            font-size: 11px;
            padding: 7.3px;
            margin-left: 2px;
            margin-right: 2px;
        }
    }

    .btn {
        bottom: 15%;
        right: 37%;
        font-size: 12px;
    }
}